body{
display: flex;
align-items: center;
justify-content: center;
margin-top: 30%;
background-color: rgb(233, 253, 253);
}
.aa{
position:relative ;


}
.na{
font-size: 16px;
border-radius: 9px;
border-width: 1px;
margin-bottom: 4%;
}
.em{
font-size: 16px;
border-radius: 9px;
border-width: 1px;
}
 .msg{
font-size: 16px;
border-radius: 10px;
border-width: 1px;
}
